{% extends "navbar.html" %}
{% block title %}Crypto Graphs{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Convert From: </h1>
        </div>
        <div class="col-lg-6">
            <h1>Convert To: </h1>
        </div>
    </div>
</div>
<!-- Input Form -->
<div class="container">
    <div class="row">
        <form class="form-horizontal" action="{{ url_for('checkmarket') }}" method="post">
            <div class="col-lg-6">
                <input type="text" class="form-control" name="symbol" autocomplete="off" placeholder="Cryptocurrency Symbol"/>
                <br>
                <button type="submit" value="submit" class="btn btn-primary btn-md">View Graphs</button>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="market" autocomplete="off" placeholder="Currency Market"/>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <p>{{ symbol }}</p>
    <p>{{ market }}</p>
</div>

<div class="container">
    <canvas id="myChart" width="1500" height="750"></canvas>
</div>
{% endblock %}