{% extends "navbar.html" %}
{% block title %}Cryptos{% endblock %}
{% block content %}
<!-- Conversion Rate Form -->
<div class="container">
    <h1>Exchange Rates</h1>
    <div class="row">
        <form class="form-horizontal" action="{{ url_for('checkcrypto') }}" method="post">
            <div class="col-lg-6">
                <input type="text" class="form-control" name="have" autocomplete="off" placeholder="Convert From"/>
                <br>
                <button type="submit" value="submit" class="btn btn-primary btn-md">Find Exchange Rates</button>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="get" autocomplete="off" placeholder="Convert To"/>
            </div>
        </form>
    </div>
</div>
<br>
<hr />
<!-- Market Graph Form  -->
<div class="container">
    <h1>Graphs</h1>
    <div class="row">
        <form class="form-horizontal" action="{{ url_for('checkmarket') }}" method="post">
            <div class="col-lg-6">
                <input type="text" class="form-control" name="symbol" autocomplete="off" placeholder="Cryptocurrency Symbol"/>
                <br>
                <button type="submit" value="submit" class="btn btn-primary btn-md">View Graphs</button>
            </div>
            <div class="col-lg-6">
                <input type="text" class="form-control" name="market" autocomplete="off" placeholder="Currency Market"/>
            </div>
        </form>
    </div>
</div>

<br>
<hr />
<!-- Compare Cryptos  -->
<div class="container">
    <h1>Compare Markets</h1>
    <div class="row">
        <form class="form-horizontal" action="{{ url_for('checkcomparisons') }}" method="post">
            <div class="col-lg-4">
                <input type="text" class="form-control" name="cryptocurrency" autocomplete="off" placeholder="Cryptocurrency Symbol"/>
                <br>
                <button type="submit" value="submit" class="btn btn-primary btn-md">Compare Graphs</button>
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="market1" autocomplete="off" placeholder="Market 1"/>
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="market2" autocomplete="off" placeholder="Market 2"/>
            </div>
        </form>
    </div>
</div>

<br>

{% endblock %}