<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{symbol}}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
{% extends "index.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <!--<div class="container">-->
        <h2>Currently viewing prices of {{symbol}} stock at daily intervals</h2>
        <!--</div>-->
    </div>
    <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Daily Open High</dt>
          <dd>${{ maxOpen }}</dd>
          <dt>Daily Open Low</dt>
          <dd>${{ minOpen }}</dd>
          <dt>Daily Close High</dt>
          <dd>${{ maxClose }}</dd>
          <dt>Daily Close Low</dt>
          <dd>${{ minClose }}</dd>
        </dl>
    </div>
</div>

<br>

<div class="container">
    <canvas id="myChart" width="1500" height="750"></canvas>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='daily.js' }}"
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
       var myChart = new Chart(ctx, {
           type: 'line',
           data: {
               labels:[{% for item in date %}
                           "{{item}}",
                       {% endfor %}],
               datasets: [{
                  label: 'Opened at',
                  data: {{openData}},
                  borderColor: "rgba(75,192,192,0.7)",
                  backgroundColor: "rgba(75,192,192,1)",
                  lineTension: 0,
                  fill: false
               }, {
                  label: 'Closed at',
                  data: {{closeData}},
                  borderColor: "rgba(255,99,132,0.7)",
                  backgroundColor: "rgba(255,99,132,1)",
                  lineTension: 0,
                  fill: false
               }
               ]
           },
           options: {}
       });
</script>
{% endblock %}
</body>
</html>