<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/javascript"></script>
</head>

<body>
<!--<div class="container">-->
    <canvas id="myChart" width="1500" height="750"></canvas>
<!--</div>-->

<script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels:[{% for item in date %}
                            "{{item}}",
                        {% endfor %}],
                datasets: [{
                    label: 'Open',
                    data: {{openData}},
                    borderColor: "rgba(75,192,192,0.4)",
                    backgroundColor: "rgba(75,192,192,1)",
                    lineTension: 0,
                    fill: false
                }]
            },
            options: {}
        });
</script>

<br>
</body>
</html>