{% extends "navbar.html" %}
{% block title %}Stocks{% endblock %}
{% block content %}
<!-- Forms -->
<div class="container">
    <h1>Enter a Stock Symbol or search for a company</h1>
</div>

<div class="container">
    <form class="form-horizontal" action="{{ url_for('checkstk') }}" method="post">
        <div id="the-basics" class="col-lg-12 form-group">
            <input type="text" id="stock" class="form-control" name="stock" autocomplete="off" placeholder="Enter Stock Symbol"/>
        </div>
        <button type="submit" value="submit" class="btn btn-primary btn-md">Submit</button>
    </form>
</div>


{% endblock %}
