<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks</title>
    <!-- AutoComplete -->
    <!--<script type="text/javascript">-->
        <!--$(function () {-->
            <!--var stock = [-->
                <!--{% for symbol, name in zipped %}-->
                    <!--{value: "{{symbol}}", label: "{{name}}"},-->
                <!--{% endfor %}-->
            <!--];-->
            <!--$("#stock").autocomplete({ source: stock });-->
        <!--});-->
    <!--</script>-->
</head>
<body>
{% extends "navbar.html" %}
{% block content %}
<!-- Forms -->
<div class="container">
    <h1>Enter a Stock Symbol or search for a company</h1>
</div>

<div class="container">
    <form class="form-horizontal" action="{{ url_for('checkstk') }}" method="post">
        <div id="the-basics" class="col-lg-12 form-group">
            <input type="text" id="stock" class="form-control" name="stock" autocomplete="off" placeholder="Enter Stock Symbol"/>
        </div>
        <button type="submit" value="submit" class="btn btn-primary btn-md">Submit</button>
    </form>
</div>


{% endblock %}
</body>
</html>
